extends welcome.pug

block content
  h1 My Account

  ul.userInfo
    h3 Customer/Merchant Info
    li= `Name: ${userData.first_name} ${userData.last_name}`
    li= `Username: ${userData.username}`
    li= `Email: ${userData.email}`
    li= `Phone: ${userData.phone}`
    li= `id: ${userData.id}`

  ul.address
    h3 Billing Address
    li= `Street: ${userData.street}`
    li= `City: ${userData.city}`
    li= `State: ${userData.state}`
    li= `Zip: ${userData.zip}`

  ul.editForm
    li
      // link to pre-rendered template //
      a(href="/edit-account-info") Edit Account Info
    li
      a(href="/view-orders") View Orders
    li
      a(href="/payment-types") Payment Types




