extends index.pug

block content
  each product in products
    .sell-product-cards
      form(method="POST" action=`/products/delete/${product.id}`)
        h2 Title: #{product.title}
        img(src="http://via.placeholder.com/200x300" alt="Placeholder")
        h3 Id: #{product.id}
        h3 Price: $#{product.price.slice(0,-2)}.#{product.price.slice(-2)}
        h4 Description: #{product.description}
        button(type="submit") Delete