extends index.pug

block content
    each prod in product
        div.prodContainer
            h2 Product Details
            h3 Title:  #{prod.title}
            img(src="http://via.placeholder.com/200x300" alt="Placeholder")
            h4 Price: $#{prod.price.slice(0,-2)}.#{prod.price.slice(-2)}
            h4 Description: #{prod.description}
            h5 Quantity: #{prod.quantity}
            form(method="POST", action=`/search/add/${prod.id}`)
            button Add to Order